<div class="row">
    <div class="col-md-12">

      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Cadastro Cliente</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="{% url 'cad_cliente' %}" method="post">
            {% csrf_token %}
          <div class="card-body bg-secondary">
            <input class="form-control bg-dark" type="text" placeholder="Nome">
            <br>
            <input class="form-control bg-dark" type="text" placeholder="Endereço">
            <br>
            <input class="form-control bg-dark" type="text" placeholder="Telefone (xx xxxx-xxxx)">
            <br>
            <input class="form-control bg-dark" type="email" placeholder="E-mail contato@empresa.com">
          </div>
          <!-- /.card-body -->

          <div class="card-footer bg-dark">
            <button type="submit" class="btn btn-success">Cadastrar</button>
          </div>
        </form>
      </div>
     
    </div>
    <!-- /.col -->
  </div>