<div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pedidos do dia</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Data</th>
                <th>Quantidade</th>
                <th>Endereço</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              {% for pedido in pedidos %}
              <tr>
                <td>{{ pedido.cliente.nome }}</td>
                <td>{{ pedido.data }}</td>
                <td><span class="tag tag-success">{{ pedido.qnt_marmita }}</span></td>
                <td>{{ pedido.cliente.endereco }}</td>
                <td>{{pedido.descricao}}</td>
              </tr>
              <tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      
    </div>
    <!-- /.col -->
  </div>

  